<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.suchengyu.gmall.product.mapper.SpuSaleAttrMapper">

    <select id="SelectSpuSaleAttrListCheckBySku" resultMap="spuSaleAttrMap">
        SELECT
            ssa.id as ssa_id,ssav.id as ssav_id,ssa.sale_attr_name,ssav.sale_attr_value_name,if(skuav.sku_id,1,0) as isChecked
        FROM
            spu_sale_attr AS ssa
                INNER JOIN spu_sale_attr_value AS ssav ON ssa.spu_id = ssav.spu_id
                AND ssa.base_sale_attr_id = ssav.base_sale_attr_id
                AND ssa.spu_id = #{spuId}
                LEFT JOIN sku_sale_attr_value AS skuav ON ssav.spu_id = skuav.spu_id
                and skuav.sale_attr_value_id = ssav.id
                and sku_id = #{skuId}
        order by ssav.base_sale_attr_id,ssav.id
    </select>
    <resultMap id="spuSaleAttrMap" type="com.suchengyu.gmall.model.product.SpuSaleAttr" autoMapping="true">
        <result column="ssa_id" property="id"></result>
        <collection property="spuSaleAttrValueList" ofType="com.suchengyu.gmall.model.product.SpuSaleAttrValue" autoMapping="true">
            <result column="ssav_id" property="id"></result>
        </collection>
    </resultMap>
</mapper>